/* Reset Default Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 1rem;
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}

/* Basic CSS */
body {
  position: relative;
  // Simulates Becode Header & Footer Bars
  // padding-top: 190px;
  // padding-bottom: 90px;
}
main {
  position: relative;
  background: center / cover no-repeat url('../images/Day.jpg');
  height: 100%;
  overflow: hidden;

  /* TEXT */
  .pageWrap {
    position: relative;
    padding: 10px 0;

    h1 {
      margin: 20px auto;
      text-align: center;
      color: #ffffff;
      font-size: 4rem;
    }

    .textBox {
      margin: 0 auto;
      text-align: center;
      width: 100%;
      background-color: #ffffff;
      opacity: 80%;
      box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);

      p {
        margin: 0 auto;
        text-align: center;
        color: black;
        border: 1px solid #ffffff;
        border-radius: 5px;
        font-size: 2rem;
        padding: 10px 20px;
      }
    }

    /* BUTTONS */
    .buttonWrap {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      margin: 20px 0;

      .button {
        z-index: 100;
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
        padding: 10px 30px;
        font-size: 1.5rem;
        border: 1px solid #ffffff98;
        border-radius: 20px;
        background-color: #16232ef5;
        color: #ffffff;
        margin: 15px;
        box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
        text-decoration: none;
      }
      .button:hover {
        background-color: #ffffffc9;
        border-color: #ffffff;
        color: #000000;
        box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
      }
    }
  }

  // MASCOT
  .mascotWrap {
    position: absolute;
    z-index: 25;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      max-width: 390px;
    }
  }

  // SOCIAL
  .social {
    position: absolute;
    z-index: 50;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    a {
      img {
        margin: 0.2rem;
        height: 20px;
        border: 1px solid #000000;
        border-radius: 0.25rem;
      }
      img:hover {
        background-color: #ffffffa1;
        border-color: #ffffff;
      }
    }
  }

  // DARK/LIGHT MODE
  .modeWrap {
    position: absolute;
    z-index: 200;
    top: 0;
    right: 0;
    margin: 1rem;

    svg {
      margin: 0.1rem;
    }
    svg:hover {
      background-color: rgba(255, 255, 255, 0.753);
      border-radius: 0.25rem;
      stroke: #000000;
    }
  }
}

// Screen width queries
@media screen and (max-width: 750px) {
  main {
    .pageWrap {
      h1 {
        font-size: 3rem;
      }
      .textBox {
        p {
          font-size: 1.5rem;
        }
      }
      .buttonWrap {
        margin: 20px 20%;
        .button {
          font-size: 1.4rem;
        }
      }
    }

    .mascotWrap {
      justify-content: start;
      transform: rotate(40deg);
      margin-left: -150px;

      img {
        max-width: 350px;
      }
    }

    .social {
      margin-right: unset;
      margin-right: 5px;
    }
  }
}
@media screen and (max-width: 380px) {
  main {
    .pageWrap {
      h1 {
        font-size: 2.3rem;
      }
      .textBox {
        p {
          font-size: 1.2rem;
        }
      }
      .buttonWrap {
        margin: 20px 15%;
        .button {
          font-size: 1.2rem;
        }
      }
    }
    .mascotWrap {
      img {
        max-width: 300px;
      }
    }
  }
}

// Screen height queries
@media screen and (max-height: 800px) {
  .mascotWrap {
    img {
      max-width: 300px;
    }
  }
}
@media screen and (max-height: 500px) {
  .mascotWrap {
    img {
      visibility: hidden;
    }
  }
}

// Animations
@keyframes enter {
  from {
    transform: translateX(-1500px) scale(2) rotate(100deg);
  }
}
@keyframes leave {
  from {
    transform: translateX(0px) rotate(40deg);
  }
  to {
    transform: translateX(2500px) rotate(180deg) scale(0.05) translateY(-2000px);
  }
}

.mascotWrap {
  animation-name: enter;
  animation-duration: 1.5s;
}
.mascotLeave {
  animation-name: leave;
  animation-duration: 3s;
}
