/* Reset Default Styling */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}

/* Variables */
$barheight: 75px;
$navheight: 105px;

/* Minxins */
@mixin flexBox {
  margin-left: 10%;
  margin-right: 10%;
  min-height: inherit;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.stickyHead {
  box-shadow: 0px 5px 20px 10px #000000bb;
  position: sticky;
}

/* Basic CSS */
header {
  min-height: $barheight;
  background-color: #000000;
  color: #ffffff;

  div {
    @include flexBox();
    justify-content: end;
  }
  a {
    margin-left: 11px;
    margin-right: 11px;
    text-decoration: none;
    color: #ffffff;
  }
}

nav {
  background-color: #16232e;
  color: #ffffff;
  min-height: $navheight;

  div {
    @include flexBox();
    justify-content: start;
  }
  p,
  a {
    margin-left: 11px;
    margin-right: 11px;
    text-decoration: none;
    color: #ffffff;
  }
}

footer {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  min-height: $barheight;
  bottom: 0;
  color: #a0a0a0;

  div {
    @include flexBox();
    justify-content: space-between;

    div {
      @include flexBox();
      margin: 0px;

      a {
        margin: 5px;
      }
    }
  }
}

/* VERTICAL GRID */
body {
  display: grid;
  gap: 0px;
  /* Row placement */
  grid-template-rows: $barheight + $navheight 1fr $barheight;
}

main {
  background: center / cover no-repeat url('../images/Day.jpg');
  height: 100%;
}

/* DARK/LIGHT MODE */
.modeWrap {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;

  svg {
    margin: 0.1rem;
  }
  svg:hover {
    background-color: rgba(255, 255, 255, 0.753);
    border-radius: 0.25rem;
    stroke: #000000;
  }
}

/* TEXT */
.pageWrap h1 {
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  margin: 20px 0px;
  font-size: 4rem;
  margin-top: 30px;
}

.textBox {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  opacity: 80%;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);

  p {
    margin: 0 auto;
    text-align: center;
    color: black;
    border: 1px solid #ffffff;
    border-radius: 5px;
    font-size: 2rem;
    padding: 10px 20px;
  }
}

/* BUTTONS */
.buttonWrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 15px;

  .button {
    font-family: 'Titillium Web', sans-serif;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 1.5rem;
    border: 1px solid #16232e;
    background-color: #16232ef5;
    color: #ffffff;
    margin: 10px;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }
  .button:hover {
    background-color: #16232e;
    border-color: #ffffffe7;
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 0, 0.2);
  }
}

/* Mobile Query */
@media screen and (max-width: 600px) {
  .pageWrap {
    h1 {
      font-size: 3rem;
    }
    .textBox {
      p {
        font-size: 1.5rem;
      }
    }
    .buttonWrap {
      margin: 20px 20%;
      .button {
        font-size: 1.4rem;
      }
    }
  }
}
@media screen and (max-width: 380px) {
  .pageWrap {
    h1 {
      font-size: 2.3rem;
    }
    .textBox {
      p {
        font-size: 1.2rem;
      }
    }
    .buttonWrap {
      margin: 20px 15%;
      .button {
        font-size: 1.2rem;
      }
    }
  }
}
